.mono-container,
.mono-all {
  --mono-main: #000000;
  --mono-back: #ffffff;
  font-family: monospace;
  color: var(--mono-main);
  background-color: var(--mono-back);
}
.mono,
.mono-all *,
.mono:before,
.mono-all *:before,
.mono:after,
.mono-all *:after {
  box-sizing: border-box;
  font-family: monospace;

  color: var(--mono-main);
  background-color: var(--mono-back);
}

button.mono,
.mono-all button {
  position: relative;
  padding-bottom: 0.2rem;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  border: 0.4rem solid var(--mono-main);
  border-top: none;
  height: 2.5rem;
  min-width: 5rem;
  color: var(--mono-main);
  background-color: var(--mono-back);
}
button.mono + button.mono,
.mono-all button + button {
  margin-left: 1rem;
}
button.mono:before,
.mono-all button:before {
  content: "";
  position: absolute;
  top: -0.8rem;
  left: -0.4rem;
  width: calc(100% + 0.8rem);
  height: 0.8rem;
  background-color: var(--mono-main);
  clip-path: polygon(
    0 30%,
    calc(100% - 0.8rem) 30%,
    calc(100% - 0.8rem) 0%,
    100% 50%,
    calc(100% - 0.8rem) 100%,
    calc(100% - 0.8rem) 70%,
    0 70%
  );
}
button.mono:active:before,
.mono-all button:active:before {
  transform: scale(1.1);
}
button.mono:focus:after,
.mono-all button:focus:after {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 3px,
    var(--mono-main) 3px 4px
  );
  clip-path: polygon(
    1rem calc(100% - 0.5rem),
    calc(100% - 0.5rem) calc(100% - 0.5rem),
    calc(100% - 0.5rem) 1rem,
    100% 1rem,
    100% 100%,
    1rem 100%
  );
}


a.mono,
.mono-all a {
  position: relative;
  text-decoration: none;
  outline: none;
}
a.mono:before,
.mono-all a:before {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 100%;
  height: 0.6rem;
  background-color: var(--mono-main);
  clip-path: polygon(
    0 40%,
    calc(100% - 0.5rem) 40%,
    calc(100% - 0.5rem) 0%,
    100% 50%,
    calc(100% - 0.5rem) 100%,
    calc(100% - 0.5rem) 60%,
    0 60%
  );
}
a.mono:focus:before,
.mono-all a:focus:before {
  clip-path: polygon(
    0 25%,
    calc(100% - 0.5rem) 25%,
    calc(100% - 0.5rem) 0%,
    100% 50%,
    calc(100% - 0.5rem) 100%,
    calc(100% - 0.5rem) 75%,
    0 75%
  );
}
a.mono:visited:before,
.mono-all a:visited:before {
  clip-path: polygon(
    0 40%,
    calc(100% - 0.5rem) 40%,
    calc(100% - 0.5rem) 0%,
    100% 0%,
    100% 100%,
    calc(100% - 0.5rem) 100%,
    calc(100% - 0.5rem) 60%,
    0 60%
  );
}
a.mono:visited:focus:before,
.mono-all a:visited:focus:before {
  clip-path: polygon(
    0 25%,
    calc(100% - 0.5rem) 25%,
    calc(100% - 0.5rem) 0%,
    100% 0%,
    100% 100%,
    calc(100% - 0.5rem) 100%,
    calc(100% - 0.5rem) 75%,
    0 75%
  );
}

ul.mono,
.mono-all ul {
  padding-left: 1.5rem;
}

li.mono,
.mono-all li {
  list-style: none;
  position: relative;
}
li.mono + li.mono,
.mono-all li + li {
  margin-top: 1.5rem;
}
li.mono:before,
.mono-all li:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -1.5rem;
  width: 1rem;
  height: 1rem;
  color: var(--mono-back);
  background-color: var(--mono-main);
  box-shadow: 0.4rem -0.4rem 0 -0.1rem var(--mono-main);
}

code.mono,
.mono-all code {
  border: 1px dashed var(--mono-main);
}
code.mono:before,
.mono-all code:before {
  content: "<";
  margin-right: 0.5em;
}
code.mono:after,
.mono-all code:after {
  content: ">";
  margin-left: 0.5em;
}
code.mono:before,
.mono-all code:before,
code.mono:after,
.mono-all code:after {
  font-weight: bold;
  color: var(--mono-back);
  background-color: var(--mono-main);
  /* fix empty space when scale */
  box-shadow: 0 0 0 1px var(--mono-main);
}

pre.mono,
.mono-all pre {
  padding: 0.5rem 1rem;
  border: 2px dashed var(--mono-main);
}

b.mono,
.mono-all b {
  font-weight: unset;
  border: 0.2rem solid var(--mono-main);
}

strong.mono,
.mono-all strong {
  font-weight: unset;
  box-shadow: inset 0 -0.25em var(--mono-main), 0 0.5em 0 0 var(--mono-main);
}

blockquote.mono,
.mono-all blockquote {
  position: relative;
  margin: 2rem;
}
blockquote.mono:before,
.mono-all blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5rem;
  height: 1rem;
  width: 3rem;
  background-color: transparent;
  box-shadow: -0.5rem -0.8rem 0 0.1rem var(--mono-main),
    -0.2rem -0.5rem 0 0.1rem var(--mono-main);
}

h1.mono,
.mono-all h1,
h2.mono,
.mono-all h2,
h3.mono,
.mono-all h3,
h4.mono,
.mono-all h4 {
  border-left: 4px solid var(--mono-main);
  border-top: 2px solid var(--mono-main);
  padding-left: 0.1em;
}

p.mono:first-letter,
.mono-all p:first-letter {
  color: var(--mono-back);
  background-color: var(--mono-main);
  margin-left: 0.5rem;
  box-shadow: -0.5em 0.25em 0 -0em var(--mono-main);
}

input[type="radio"].mono,
.mono-all input[type="radio"] {
  position: relative;
  display: block;
  margin: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="radio"].mono:before,
.mono-all input[type="radio"]:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.2rem solid var(--mono-main);
}

input[type="radio"].mono + *,
.mono-all input[type="radio"] + * {
  position: relative;
  display: inline-block;
  padding-top: 0.1rem;
  padding-inline-start: 10px;
  margin-left: 1.5rem;
  margin-bottom: 10px;
}
input[type="radio"].mono:after,
.mono-all input[type="radio"]:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--mono-main);
  clip-path: polygon(
    calc(50% - 0.1rem) 0,
    calc(50% - 0.1rem) 0,
    calc(50% - 0.1rem) 100%,
    calc(50% + 0.1rem) 100%,
    calc(50% + 0.1rem) 0
  );
}
input[type="radio"].mono:checked:after,
.mono-all input[type="radio"]:checked:after {
  clip-path: polygon(
    calc(50% - 0.1rem) 0,
    calc(50% - 0.1rem) calc(50% - 0.375rem),
    calc(50% - 0.375rem) calc(50% - 0.375rem),
    calc(50% - 0.375rem) calc(50% + 0.375rem),
    calc(50% - 0.1rem) calc(50% + 0.375rem),
    calc(50% - 0.1rem) 100%,
    calc(50% + 0.1rem) 100%,
    calc(50% + 0.1rem) calc(50% + 0.375rem),
    calc(50% + 0.375rem) calc(50% + 0.375rem),
    calc(50% + 0.375rem) calc(50% - 0.375rem),
    calc(50% + 0.1rem) calc(50% - 0.375rem),
    calc(50% + 0.1rem) 0
  );
}

input[type="range"].mono,
.mono-all input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  border: 3px solid var(--mono-main);
  padding: 0.8rem 0.5rem;
  height: 1.5rem;
  width: 300px;
}
input[type="range"].mono::-webkit-slider-runnable-track,
.mono-all input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  background: var(--mono-main);
}
input[type="range"].mono::-webkit-slider-thumb,
.mono-all input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.3rem solid var(--mono-main);
  height: 1rem;
  width: 1rem;
  background: var(--mono-back);
  cursor: pointer;
  margin-top: -0.4rem;
}
input[type="range"].mono:active::-webkit-slider-thumb,
.mono-all input[type="range"]:active::-webkit-slider-thumb {
  background-color: var(--mono-main);
}
input[type="range"].mono:focus:after,
.mono-all input[type="range"]:focus:after {
  content: "";
  position: absolute;
  top: -1.2rem;
  left: -1.2rem;
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 3px,
    var(--mono-main) 3px 4px
  );
  clip-path: polygon(
    1.2rem calc(100% - 0.5rem),
    calc(100% - 0.5rem) calc(100% - 0.5rem),
    calc(100% - 0.5rem) 1.2rem,
    100% 1.2rem,
    100% 100%,
    1.2rem 100%
  );
}
