body {
  --mono-main: black;
  --mono-back: white;
}

/* resets */
.mono,
.mono-all *,
.mono:before,
.mono-all *:before,
.mono:after,
.mono-all *:after {
  box-sizing: border-box;
  font-family: monospace;
}

ul.mono, .mono-all ul {
  padding-left: 1.5rem;
}

li.mono, .mono-all li {
  list-style: none;
  position: relative;
}
li.mono + li.mono, .mono-all li + li {
  margin-top: 1.5rem;
}
li.mono:before, .mono-all li:before {
  content: '';
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--mono-main);
}

blockquote.mono, .mono-all blockquote {
  position: relative;
}
blockquote.mono:before, .mono-all blockquote:before {
  content: '';
  position: absolute;
  top: 0;
  left: -2rem;
  height: 100%;
  width: 1rem;
  background-color: var(--mono-main);
}

h1.mono, .mono-all h1,
h2.mono, .mono-all h2,
h3.mono, .mono-all h3,
h4.mono, .mono-all h4
{
  border-bottom: 0.5rem solid var(--mono-main);
}
h1.mono:first-letter, .mono-all h1:first-letter,
h2.mono:first-letter, .mono-all h2:first-letter,
h3.mono:first-letter, .mono-all h3:first-letter,
h4.mono:first-letter, .mono-all h4:first-letter {
  color: var(--mono-back);
  background-color: var(--mono-main);
}