body {
  --mono-main: black;
  --mono-back: white;
}

/* resets */
.mono,
.mono-all *,
.mono:before,
.mono-all *:before,
.mono:after,
.mono-all *:after {
  box-sizing: border-box;
  font-family: monospace;
}

ul.mono, .mono-all ul {
  padding-left: 1.5rem;
}

li.mono, .mono-all li {
  list-style: none;
  position: relative;
}
li.mono + li.mono, .mono-all li + li {
  margin-top: 1.5rem;
}
li.mono:before, .mono-all li:before {
  content: '';
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--mono-main);
}
