html {
  font-size: calc(0.3vw + 0.7em);
  font-family: monospace;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

main {
  margin: auto;
  max-width: 1200px;
  padding: 1rem;
}