html {
  font-size: 16px;
  font-family: monospace;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --mono-main: black;
  --mono-alter: white;
}

li.mono {
  list-style: none;
  position: relative;
  border-bottom: 2px solid var(--mono-main);
  border-left: 2px solid var(--mono-main);
  padding: 1px 0.5rem;
}
li.mono + li.mono {
  margin-top: 1rem;
}
li.mono:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: calc(-1.5rem - 4px);
  border: 2px solid var(--mono-main);
}
