details.mono,
.mono-all details {
  margin: 1rem 0;
  padding: 1rem;
  padding-left: 1.5rem;
  border: 0.2rem solid var(--mono-main);
  overflow-x: hidden;
}
details[open].mono summary.mono,
.mono-all details[open] summary {
  margin-bottom: 0.5rem;
}
details[open].mono summary.mono::before,
.mono-all details[open] summary::before {
  transform: rotate(180deg);
}
