h1.mono,
.mono-all h1,
h2.mono,
.mono-all h2,
h3.mono,
.mono-all h3,
h4.mono,
.mono-all h4 {
  border-left: 4px solid var(--mono-main);
  border-top: 2px solid var(--mono-main);
  padding-top: 0.2em;
  padding-left: 0.3em;
  margin: 3rem 0 1rem;
}

h1.mono,
.mono-all h1 {
  margin-top: 2rem;
  font-size: 2.2em;
}

h2.mono,
.mono-all h2 {
  font-size: 1.6em;
}

h3.mono,
.mono-all h3 {
  font-size: 1.2em;
}
