input[type="range"].mono,
.mono-all input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  border: 0.2rem solid var(--mono-main);
  padding: 0.8rem 0.5rem;
  height: 1.5rem;
  width: 20rem;
}
input[type="range"].mono::-webkit-slider-runnable-track,
.mono-all input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.2rem;
  cursor: pointer;
  background: var(--mono-main);
}
input[type="range"].mono::-webkit-slider-thumb,
.mono-all input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.2rem solid var(--mono-main);
  height: 1rem;
  width: 1rem;
  background: var(--mono-back);
  cursor: pointer;
  margin-top: -0.4rem;
}
input[type="range"].mono:active::-webkit-slider-thumb,
.mono-all input[type="range"]:active::-webkit-slider-thumb {
  background-color: var(--mono-main);
}
input[type="range"].mono:focus:after,
.mono-all input[type="range"]:focus:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 0.7rem);
  height: calc(100% + 0.7rem);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 3px,
    var(--mono-main) 3px 5px
  );
  clip-path: polygon(
    calc(100% - 0.5rem) 0.25rem,
    calc(100% - 0.5rem) calc(100% - 0.5rem),
    0.25rem calc(100% - 0.5rem),
    0.25rem 100%,
    100% 100%,
    100% 0.25rem
  );
}
