input[type="radio"].mono,
.mono-all input[type="radio"] {
  position: relative;
  top: 0.5em;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1rem var(--mono-main);
  outline: none;
  cursor: pointer;
}
input[type="radio"].mono:before,
.mono-all input[type="radio"]:before {
  position: absolute;
  content: "";
  left: 0.125rem;
  top: 0.125rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--mono-back);
  border: 0.15rem solid var(--mono-back);
  border-radius: 50%;
}
input[type="radio"].mono:checked:before,
.mono-all input[type="radio"]:checked:before {
  background-color: var(--mono-main);
}
input[type="radio"].mono:focus:after,
.mono-all input[type="radio"]:focus:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 0.4rem);
  height: calc(100% + 0.4rem);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 2px,
    var(--mono-main) 2px 3px
  );
  clip-path: polygon(
    calc(100% - 0.4rem) 0.2rem,
    calc(100% - 0.4rem) calc(100% - 0.4rem),
    0.2rem calc(100% - 0.4rem),
    0.2rem 100%,
    100% 100%,
    100% 0.2rem
  );
}
