li.mono,
.mono-all li {
  list-style: none;
  position: relative;
}
li.mono + li.mono,
.mono-all li + li {
  margin-top: 1.5rem;
}
li.mono:before,
.mono-all li:before {
  content: "";
  position: absolute;
  top: 0.75rem;
  left: -1.5rem;
  width: 1rem;
  height: 1rem;
  color: var(--mono-back);
  background-color: var(--mono-main);
  /* box-shadow: 0.4rem -0.4rem 0 -0.1rem var(--mono-main); */
}
