pre.mono,
.mono-all pre {
  position: relative;
  flex-shrink: 0;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
  border: 2px dashed var(--mono-main);
  overflow-x: scroll;
  line-height: 2rem;
}

pre.mono,
pre.mono *,
.mono-all pre,
.mono-all pre * {
  line-height: 2rem;
  background-color: transparent;
}

/* pre.mono:hover:before,
.mono-all pre:hover:before {
  content: '';
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--mono-main);
  opacity: 0.7;
  clip-path: polygon(
    0 0,
    0 65%,
    65% 65%,
    65% 0,
    100% 0,
    100% 100%,
    35% 100%,
    35% 35%,
    100% 35%,
    100% 0
  );
} */
