summary.mono,
.mono-all summary {
  display: inline;
  position: relative;
  margin-right: 100%;
  list-style: none;
  font-size: 1.4rem;
  outline: none;
}
summary.mono:before,
.mono-all summary:before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -1.2rem;
  width: 0.8rem;
  height: calc(100% + 1rem);
  background-color: var(--mono-main);
  clip-path: polygon(
    25% 0,
    25% calc(100% - 0.6rem),
    0 calc(100% - 0.6rem),
    50% 100%,
    100% calc(100% - 0.6rem),
    75% calc(100% - 0.6rem),
    75% 0
  );
}
summary.mono:focus:after,
.mono-all summary:focus:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 0.8rem);
  height: calc(100% + 0.4rem);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 3px,
    var(--mono-main) 3px 5px
  );
  clip-path: polygon(
    calc(100% - 0.5rem) 0.25rem,
    calc(100% - 0.5rem) calc(100% - 0.5rem),
    0.25rem calc(100% - 0.5rem),
    0.25rem 100%,
    100% 100%,
    100% 0.25rem
  );
}
summary.mono:active:after,
.mono-all summary:active:after {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 3px,
    var(--mono-main) 3px 7px
  );
}
